
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h2, h4, h5, h6 {
  font-family: "Montserrat-Black";
}

.p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}


.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
    background-color: #fff;
}

/* title-section */
#title {
  text-align:left;
}

#title .container-fluid{
  padding :3% 15% 7%;
}



/* Headings00 */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

/* Buttons */
.download-buttons {
  margin: 5% 3% 5% 0;
}

.title-image {
  transform: rotate(25deg);
  position: absolute;
  width: 20%;
  right: 25%;
}

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.Aa {
  padding: 10%;
}

.fa-bullseye {
  color: #ef8172;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-circle-check {
  color: #ef8172;
}

.fa-circle-check:hover {
  color: #ff4c68;
}

.fa-heart {
  color: #ef8172;
}

.fa-heart:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}


.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}

.pricing-column {
  padding: 3% 2%;
}

/* call to action */
#cta {
  color:#fff;
  background-color: #ff4c68;
  padding: 3% 15% 5%;
}

.button {
  font: "Monserrat-Black";
  text-decoration: bold;
}

#footer .container-fluid{
  padding:3% 15%;
}


.aa {
  padding-right: 2%;
}

@media(max-width:1020px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
    width: 60%;
  }
}
